/Codigo más eficiente con HAMl
/Estandar HTML5
!!!5  

%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %title Cristalweb| Conocimiento colectivo
    %meta{name:"description", content:"La web es el lugar donde el futuro se descubre dia a dia, es nuestro trabajo llevar este conocimiento a las masas."}
    %link{href:"https://fonts.googleapis.com/css?family=Roboto:500", rel:"stylesheet"}
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/bootstrap.css"}
    %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %script{src:"js/vendor/modernizr-2.8.3.min.js"}
  %body
    ="<!--[if lt IE 9]>"
    %p{class:"browserupgrade"}
      Estas usando un navegador 
      %strong desactualizado. 
      Por favor
      %a{href:"http://browsehappy.com/"}
      Actualiza tu navegador
      para tener una mejor experiencia.
    ="<![endif]-->"
    .video-container
      %video{autoplay:true, loop:true, width:"1280", height:"720", poster:"videos/images/imageP.jpg"}
        %source{src:"videos/mp4/videoP.mp4",typ:"video/mp4"}
        %source{src:"videos/webm/videoP.webm",typ:"video/webm"}
    .row.full-height.middle-xs.center-xs.relative.up
      .colo-xs-12
        .box.white-text
          %img{src:"img/logo.png", width:200}
          %h2.roboto.title.no-margin Cristalweb
          %p#is-open 
            %i.glyphicon.glyphicon-globe 
            Conocimiento colectivo
      %nav.fixed.top.right.navigation.white-text#navigation
        -menu = ["Inicio", "Foro", "Tutoriales", "Acceder", "Contacto", "Ayuda"]
        %ul.list-inline
          -menu.each do |item|
            %li
              %a{}= item
      .absolute.black.large-padding.white-text.full-width#description
        .row.middle-xs.center-xs
          .col-xs-7.col-sm-6.white-text.medium
            Aprende, crea, comparte el conocimiento
          .col-xs.hidden#sticky-navigation
            .box
              %nav.text-right.navigation
                %ul.list-inline
                  -menu.each do |item|
                    %li
                      %a{}= item
  .full-height

  %script{src:"http://code.jquery.com/jquery-3.2.1.min.js", 
  integrity:"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", 
  crossorigin:"anonymous"}
  :javascript
    window.jQuery || document.write("<script src='js/jquery-3.2.0.min.js'><\/script>")
  %script{src:"js/main.js"}
  


